h1 {
    text-align: center;
}

.board {
    width: 200px;
    height: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    background-color: lightgray;
}

.cell {
    width: 60px;
    height: 60px;
    font-size: 28px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.turn {
    text-align: center;
}

.output {
    text-align: center;
}

.reset {
    margin: 0 auto 10px;
}